
extends index_layout

block content
	.col-md-8.padding-20
		.row
			.fb-heading
				i.fa.fa-search
				|  Search Results for: #{search}
			hr.style-three
			- for art in cdata
				.panel.panel-default
					.article-heading-abb
						a(href='/article/#{art._id}')
							i.fa.fa-pencil-square-o
							|  #{art.title}
					.article-info
						.art-date
							a(href='#')
								i.fa.fa-calendar-o
								|  #{moment(cdata.date).format('LLL')}
						.art-category
							a(href='#')
								i.fa.fa-folder
								|  #{art.category.name} 
					.article-content
						article
							p.block-with-text!= art.article

block scripts

	script(src='http://localhost:3000/js/libs/readmore.min.js')
	script(src='http://localhost:3000/js/views/index_search.js')
