
extends index_layout

block content

	.row
		.col-md-12.margin-top-40
			ul.category-list
				li.category-title
					a(href='#')
						i.fa.fa-folder
						|  #{categoryName.name} 
				- for art in cdata
					li
						a(href='/article/#{art._id}') #{art.title}
						span.article-overview= art.article_plain.substr(1, 200) + '...'
							a(href='/article/#{art._id}') read more

block scripts

	script(src='http://localhost:3000/js/views/single_category.js')
