
extends index_layout

block content

	.row
		.col-md-12.margin-top-40
			.article-title #{cdata.title}
			.article-info
				.art-date
					a(href='#')
						i.fa.fa-calendar-o
						|  #{moment(cdata.date).format('LLL')}
				.art-category
					a(href='#')
						i.fa.fa-folder
						|  #{cdata.category.name}
			.article-content
				p!= cdata.article
				.article-tags
					b Tags:
					if tags
					- for cat in tags
						a.btn.btn-default.btn-o.btn-sm(href='#') #{cat}
			.article-feedback
				h2
					small Was This Article Helpful?
				button.btn.btn-success.btn-o.btn-wide(type='button')
					i.fa.fa-thumbs-o-up
					|  Yes
				button.btn.btn-danger.btn-o.btn-wide(type='button')
					| No 
					i.fa.fa-thumbs-o-down

		.row
			.col-md-12.margin-top-20
				.related-art
					#latestAtrList.related-art-title Latest Articles

block scripts

	script(src='http://localhost:3000/js/views/single_index.js')
